$primary-color: #2f80ed;
$secondary-color: #333333;

html {
    font-family: Roboto, sans-serif;
}

* {
    color: #333333;
}

h1 {
    color: #2f80ed;
    margin-bottom: 0.25em;
}

h2 {
    color: #2f80ed;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    color: #2f80ed;
}

a{
    color: #2f80ed;
}

.contact{
margin-bottom: 2em;
}

.contact {
    display: flex;

    &_type{
        min-width: 90px;
    }
}

.exp {
    display: flex;
    margin-bottom: 2em;
    &__date {
        min-width: 185px;
        margin-bottom: 1em;
    }

    &__name {
        font-weight: bold;
    }
}